__pycache__
/pipeline_outputs/*
!/pipeline_outputs/sessions/
!/pipeline_outputs/sessions/session_20250924_151105/
pipeline_outputs/united_sample_element_actions.png
pipeline_outputs/united_sample_screen_understanding_output.json
